#Newsletter[data-version="3"] {
  --padding: max(var(--spacing-lg), 5vw);
  --maxWidth: max(800px, calc(100% - calc(var(--spacing-lg) * 2)));
  color: var(--lightColor);
  background-color: var(--fontColor);
  margin: var(--spacing-xl) auto;
  padding: var(--padding);
  max-width: var(--maxWidth);
  width: 100%;
  border-radius: var(--corners-xxl);
  overflow: hidden;
  display: grid;
  grid-auto-columns: minmax(100px, 1fr);

  > * {
    grid-area: 1/1;
  }

  // Header
  .header {
    --padding: max(24px, 8vw);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--padding);
    max-width: 1200px;
    margin: 0 auto;
    z-index: 2;
    max-width: 100%;

    > * {
      flex-basis: 2ch;
      flex-grow: 1;
      max-width: 100%;
    }

    .header_title {
      --fontSize: max(40px, 4vw);
      font-size: var(--fontSize);
      display: flex;
      flex-direction: column;

      span {
        font-size: min(12px, 0.6em);
        text-transform: uppercase;
        line-height: 1;
      }

      h2 {
        font-size: 1em;
      }
    }

    // Contact Form
    .contact-form {
      gap: var(--spacing-lg);
      align-items: flex-start;
      padding: var(--spacing-lg);
      background-color: var(--lightColor);
      border-radius: var(--corners-lg);
      color: var(--fontColor);

      // Email Input
      [data-input="email"] {
        display: flex;
        white-space: nowrap;
        letter-spacing: 1px;

        input {
          font-size: var(--fontSize);
          transition: all 0.1s var(--ease);
        }

        // Outline
        &:before,
        &:after {
          --stroke: 1px;
          --background: var(--fontColor);
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          width: 100%;
          background: var(--background);
          height: var(--stroke);
          max-width: 1000px;
          transition: all 1s var(--ease);
        }
        &:before {
          opacity: 0.2;
        }
        &:after {
          --background: var(--primaryColor);
        }

        // Input Group States
        &:not([data-focused="true"]) {
          // Outline
          &:after {
            max-width: 0px;
          }
        }
      }

      // Submit Input
      [data-input="submit"] {
        display: flex;
        justify-content: stretch;
        margin-top: var(--spacing);
        flex-grow: 1;

        [type="submit"] {
          --background: var(--fontColor);
          --corners: 4px;
          flex-grow: 1;
          display: flex;
          justify-content: center;
          text-align: center;
          color: var(--lightColor);
        }
      }
    }
  }

  // Image
  .cover-image {
    --negativeMargin: calc(var(--padding) * -1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-grow: 1;
    opacity: 0.9;
    margin: var(--negativeMargin);

    img {
      object-fit: cover;
      min-width: 100%;
      height: max(40vh, 300px);
      max-height: 100%;
      flex-grow: 1;
    }
  }
}
