@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400&family=Prata&display=swap");

:root {
  //   Colors
  --primaryColor: hsl(120, 13%, 76%);
  --hoverColor: hsl(120, 13%, 90%);
  --activeColor: hsl(120, 13%, 70%);
  --lightColor: hsl(20, 100%, 98%);
  --fontColor: hsl(120, 50%, 5%);
  //   Fonts
  --fontTitle: "Prata", serif;
  --fontFamily: "Lato", sans-serif;
}

[data-version="2"] {
  font-family: var(--fontFamily);
  color: var(--fontColor);

  *:is(h1, h2, h3, h4, h5, h6) {
    font-family: var(--fontTitle);
  }

  button,
  .button {
    --background: transparent;
    --size: 48px;
    --padding: calc(var(--size) / 2);
    --corners: 2px;
    font-size: 14px;
    font-weight: 100;
    background: var(--background);
    min-width: var(--size);
    min-height: var(--size);
    display: flex;
    align-items: center;
    padding: 0 var(--padding);
    transition: background 0.4s var(--ease);
    white-space: nowrap;
    cursor: pointer;
    text-transform: uppercase;
    //  Primary
    &.primary {
      color: var(--bodyColor);
      &:is(:hover, :focus) {
        --background: var(--hoverColor);
        color: var(--fontColor);
      }
      &:is(:active) {
        --background: var(--activeColor);
      }
    }
    //  Ghost
    &.ghost {
      --background: transparent;
      color: var(--primaryColor);
      &:is(:hover, :focus) {
        --background: var(--lightColor);
      }
    }
  }
}
