@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;400&display=swap");

:root {
  //   Colors
  --primaryColor: hsl(20, 8%, 85%);
  --secondaryColor: hsl(146, 8%, 85%);
  --hoverColor: hsl(0, 0%, 94%);
  --activeColor: hsl(218, 8%, 98%);
  --lightColor: hsl(20, 100%, 98%);
  --fontColor: hsl(0, 0%, 28%);
  //   Fonts
  --fontFamily: "Libre Franklin", "Work Sans", system-ui, sans-serif;
  //   Transitions
  --ease: cubic-bezier(0.22, 1, 0.36, 1);
  // Shadows
  --shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.12);
}

[data-version="1"] {
  font-family: var(--fontFamily);

  button,
  .button {
    --background: var(--fontColor);
    --size: 48px;
    --padding: calc(var(--size) / 2);
    --corners: 2px;
    font-size: 14px;
    font-weight: 100;
    background: var(--background);
    min-width: var(--size);
    min-height: var(--size);
    display: flex;
    align-items: center;
    padding: 0 var(--padding);
    border: unset;
    border-radius: var(--corners-round);
    transition: background 0.4s var(--ease);
    white-space: nowrap;
    cursor: pointer;
    text-transform: uppercase;
    //  Primary
    &.primary {
      color: white;
      &:is(:hover, :focus) {
        --background: var(--hoverColor);
        color: var(--fontColor);
      }
      &:is(:active) {
        --background: var(--activeColor);
      }
    }
    //  Ghost
    &.ghost {
      --background: transparent;
      color: var(--primaryColor);
      &:is(:hover, :focus) {
        --background: var(--lightColor);
      }
    }
    //  Close
    &.close {
      --corners: 999px;
      --size: 24px;
      --background: transparent;
      border: 2px solid var(--lightColor);
      padding: unset;
      justify-content: center;
      color: var(--primaryColor);

      &:is(:hover, :focus) {
        --background: var(--primaryColor);
        color: var(--lightColor);
        border-color: var(--primaryColor);
        outline: 2px solid var(--lightColor);
      }
    }
  }
}
