#Discover[data-version="2"] {
  display: grid;
  min-height: 100vh;

  & > * {
    grid-area: 1/1;
  }

  // Header
  .header {
    display: flex;
    min-width: 100%;
    height: fit-content;
    padding: max(var(--spacing-xl), 5vw);
    background-image: linear-gradient(180deg, rgb(0 0 0 / 20%), transparent);
    color: var(--lightColor);

    .header_title {
      --fontSize: 14px;
      font-size: var(--fontSize);
      display: flex;
      flex-direction: column;

      h2 {
        font-size: 1em;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
    }
  }

  // Properties Gallery
  .horizontal-media-scroller {
    --gap: 0;
    flex-grow: 1;
    scroll-snap-type: x mandatory;

    > * {
      scroll-snap-align: center;
    }

    @media screen and (max-width: 350px) {
      --size: 100%;
    }
  }

  // Image Gallery
  .image-gallery {
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .container {
      display: grid;
      flex-grow: 1;

      > * {
        grid-area: 1/1;
      }
      .image_cover {
        z-index: -1;
        display: flex;
        flex-direction: column;

        img {
          flex-grow: 1;
          width: var(--size);
          object-fit: cover;
        }
      }
      .image_content {
        align-self: center;
        justify-self: stretch;
        padding: var(--spacing-xl);
        margin-top: auto;
      }
    }
  }
}
