#Discover[data-version="2"] {
  display: grid;
  min-height: 100vh;

  & > * {
    grid-area: 1/1;
  }

  // Header
  .header {
    display: flex;
    min-width: 100%;
    height: fit-content;
    padding: max(var(--spacing-xl), 5vw);
    background-image: linear-gradient(180deg, rgb(0 0 0 / 20%), transparent);
    color: var(--lightColor);
    transition: all 0.5s var(--ease);

    .header_title {
      --fontSize: 14px;
      font-size: var(--fontSize);
      display: flex;
      flex-direction: column;

      h2 {
        font-size: 1em;
        letter-spacing: 2px;
        text-transform: uppercase;
      }
    }
  }

  // Properties Gallery
  .horizontal-media-scroller {
    --gap: 0;
    flex-grow: 1;
    scroll-snap-type: x mandatory;

    > * {
      scroll-snap-align: center;
    }

    @media screen and (max-width: 350px) {
      --size: 100%;
    }
  }

  // Image Gallery
  .image-gallery {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;

    .container {
      display: grid;
      flex-grow: 1;

      > * {
        grid-area: 1/1;
      }
      .image_cover {
        z-index: -1;
        display: flex;
        flex-direction: column;
        transition: transform 1s var(--ease);

        img {
          flex-grow: 1;
          width: var(--size);
          object-fit: cover;
        }
      }
      .image_content {
        --fontSize: max(2.5vw, 40px);
        --padding: max(var(--spacing), 2vw);
        align-self: center;
        padding: var(--padding);
        text-align: center;
        font-size: var(--fontSize);
        color: var(--lightColor);
        transition: margin 0.5s var(--ease), color 0.5s var(--ease);

        h3 {
          font-size: 1em;
        }
      }
    }

    // Divider
    &:not(:last-child):after {
      content: "";
      width: 1px;
      height: 60%;
      background-color: var(--primaryColor);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      bottom: 0;
    }

    // Image Gallery States
    @media screen and (hover: hover) and (min-width: 800px) {
      &:not(:hover, :focus-visible) {
        .image_cover {
          transform: translateY(-100%);
        }
        .image_content {
          margin-top: 100%;
          color: var(--fontColor);
        }
      }
    }
  }

  // Discover States
  @media screen and (hover: hover) and (min-width: 800px) {
    &:not(:hover) {
      .header {
        color: var(--fontColor);
        background-image: linear-gradient(180deg, rgb(0 0 0 / 0%), transparent);
      }
    }
  }
}
