#RecommendedProperties[data-version="1"] {
  --gap: max(var(--spacing-xxl), 5vw);
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  min-height: 100vh;
  padding: var(--spacing-xl);
  align-items: stretch;

  > * {
    flex-basis: min(35ch, 50vw);
    flex-grow: 1;
  }

  // Header
  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .header_title {
      --fontSize: max(40px, 4vw);
      font-size: var(--fontSize);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 1;

      span {
        font-size: min(12px, 0.6em);
        text-transform: uppercase;
        line-height: 1;
      }
      h2 {
        font-size: 1em;
      }
    }
    .header_pagination {
      margin-top: var(--gap);
      menu {
        display: flex;
        gap: var(--spacing-xs);
        .pagination_link {
          --size: 12px;
          --color: var(--primaryColor);
          display: block;
          min-width: var(--size);
          min-height: var(--size);
          background: var(--color);
          border-radius: var(--corners-round);

          &[disabled] {
            opacity: 0.5;
          }
        }
      }
    }
  }

  // Properties Gallery
  .horizontal-media-scroller {
    --size: 100%;
    flex-grow: 1;
    gap: unset;
    scroll-snap-type: x mandatory;
    scroll-padding-inline-start: unset;

    > * {
      scroll-snap-align: center;
    }
  }

  // Propertie card
  .property-card {
    display: grid;
    border-radius: var(--corners);
    overflow: hidden;

    > * {
      grid-area: 1/1;
    }

    .property_image {
      flex-grow: 1;
    }
    .property_content {
      --padding: var(--spacing-lg);
      --fontSize: clamp(18px, 5vw, 24px);

      color: var(--lightColor);
      display: flex;
      flex-wrap: wrap;
      padding: var(--padding);
      gap: var(--padding);
      background: linear-gradient(360deg, var(--fontColor), transparent);
      font-size: var(--fontSize);
      align-self: end;
      flex-grow: 1;

      .content_title {
        flex-grow: 1;
        .location {
          font-size: max(14px, 0.8em);
        }
      }

      .content_details {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        > * {
          flex-grow: 1;
        }

        // Lateral Border
        > * + * {
          border-right: var(--border);
        }

        .details_price {
          display: flex;
          justify-content: center;
          font-size: 1.5em;
          font-weight: bold;
          .tag {
            display: none;
          }
        }
        .details_accommodation {
          display: flex;
          font-size: 0.7em;
          gap: var(--spacing);

          > * {
            flex-grow: 1;
            display: flex;
            flex-direction: row-reverse;
            gap: var(--spacing-xs);
            justify-content: center;
            font-weight: bold;
            align-self: inherit;
            align-items: inherit;
          }

          // Lateral Border
          > * + * {
            border-left: var(--border);
          }

          .tag {
            color: var(--grayColor);
            font-weight: lighter;
          }
        }
      }
    }
  }
}
