#Hero[data-version="2"] {
  --padding: max(var(--spacing-lg), 5vw);
  --navSize: 80px;
  --height: calc(100vh - var(--navSize));
  color: var(--lightColor);
  margin: 0 auto;
  min-height: var(--height);
  padding: var(--padding);
  padding-bottom: 0;
  overflow: hidden;
  width: 100%;
  display: grid;

  > * {
    grid-area: 1/1;
  }

  // Header
  .header {
    --padding: max(24px, 8vw);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--padding);
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    z-index: 2;

    .header_title {
      --fontSize: max(48px, 5vw);
      font-size: var(--fontSize);
      display: flex;
      flex-direction: column;
      flex-basis: 50%;

      span {
        font-size: min(12px, 0.6em);
        text-transform: uppercase;
        line-height: 1;
      }
      h1 {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xs);
        font-size: 1em;

        span {
          font-weight: 300;
          letter-spacing: 2px;
          font-size: max(14px, 0.18em);
        }
      }
    }

    // Searcher
    .searcher {
      gap: var(--spacing-lg);
      align-items: flex-start;
      padding: var(--spacing-lg);
      background-color: var(--lightColor);
      color: var(--fontColor);

      > * {
        flex-basis: 10ch;
        flex-grow: 1;
      }

      // Email Input
      .input-group {
        display: flex;
        white-space: nowrap;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 14px;
        flex-grow: 1;

        input {
          font-size: var(--fontSize);
          transition: all 0.1s var(--ease);
        }

        // Town & Country Inputs
        &:is([data-input="town"], [data-input="country"]) {
          flex-basis: 20ch;
        }
      }

      // Submit Input
      [data-input="submit"] {
        display: flex;
        justify-content: stretch;
        margin-top: var(--spacing);

        [type="submit"] {
          --background: var(--primaryColor);
          --corners: var(--corners-xs);
          flex-grow: 1;
          display: flex;
          justify-content: center;
          text-align: center;
          color: var(--lightColor);
        }
      }
    }
  }

  // Image
  .cover-image {
    --negativeMargin: calc(var(--padding) * -1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-grow: 1;
    opacity: 0.9;
    margin: var(--negativeMargin);

    img {
      object-fit: cover;
      min-width: 100%;
      height: max(40vh, 300px);
      max-height: 100%;
      flex-grow: 1;
    }
  }
}
