#Hero[data-version="3"] {
  --padding: max(5vw, 24px);
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  gap: var(--padding);

  .wrapper {
    display: flex;
    gap: var(--padding);
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    // Header
    .header {
      display: flex;
      width: 100%;
      align-items: center;
      text-align: center;

      .header_title {
        --fontSize: max(4vw, 40px);
        font-size: var(--fontSize);
        display: flex;
        flex-direction: column;

        span {
          font-size: max(0.35em, 12px);
          line-height: 1;
          color: var(--primaryColor);
        }
        h2 {
          font-size: 1em;
        }
      }
    }

    // Category List
    .category-list {
      max-width: 100%;
      border-radius: var(--corners-xxl);
      background: var(--lightColor);
      flex-grow: 1;

      .horizontal-media-scroller {
        padding: max(var(--spacing), 2vw);
      }

      .category_item {
        display: block;
        color: inherit;

        .category_card {
          --padding: var(--spacing-xl);
          --fontSize: max(18px, 1vw);
          display: flex;
          align-items: center;
          flex-direction: column;
          padding: var(--padding);
          gap: var(--padding);
          font-size: var(--fontSize);
          text-align: center;
          border-radius: var(--corners-xxl);
          transition: all 0.5s var(--ease);

          .card_avatar {
            --size: 180px;
            height: var(--size);
            width: var(--size);
            border-radius: var(--corners-round);
            overflow: hidden;

            img {
              max-width: 100%;
              max-height: 100%;
              object-fit: cover;
              transition: transform 0.5s var(--ease);
            }
          }
          .card_title {
          }
        }
        // Category Card States
        &:is(:hover, :focus) {
          .category_card {
            background-color: white;
            box-shadow: var(--shadow-xl);
          }
        }
        &:not(:hover, :focus) {
          .card_avatar {
            img {
              transform: scale(1.5);
            }
          }
        }
      }
    }

    // Properties Gallery
    .horizontal-media-scroller {
      --maxSize: max(fit-content, 25%);
      --size: minmax(var(--maxSize), 1fr);
      gap: unset;
      flex-grow: 1;
      scroll-snap-type: x mandatory;
      scroll-padding-inline-start: unset;
      border-radius: var(--corners-xxl);
      background: var(--lightColor);
      flex-grow: 1;

      > * {
        scroll-snap-align: center;
      }
    }
  }
}
