#Instagram[data-version="3"] {
  --padding: max(var(--spacing-xl), 5vw);
  display: flex;
  flex-direction: column;
  gap: var(--padding);
  align-items: stretch;
  padding: var(--padding) 0;

  .wrapper {
    display: flex;
    padding: 0 var(--padding);
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    // Header
    .header {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .header_title {
        --fontSize: max(4vw, 40px);
        font-size: var(--fontSize);
        display: flex;
        flex-direction: column;

        span {
          font-size: max(0.35em, 12px);
          line-height: 1;
          color: var(--primaryColor);
        }
        h2 {
          font-size: 1em;
        }
      }
    }
  }

  // Instagram Gallery
  .horizontal-media-scroller {
    --size: minmax(25ch, 1fr);
    flex-grow: 1;
    scroll-snap-type: x mandatory;
    flex-grow: 1;
    padding: 0 var(--padding);
    gap: var(--spacing);

    > * {
      scroll-snap-align: center;
    }

    .grid_image {
      border-radius: var(--corners);
      overflow: hidden;
      aspect-ratio: 9/16;
      display: flex;

      picture {
        display: flex;
        flex-direction: column;
        img {
          flex-grow: 1;
          object-fit: cover;
          max-width: 100%;
        }
      }
    }
  }
}
